.button {
    border-radius: 5px;
    cursor: pointer;
    &--reset {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }
    &--search {
        font-size: 16px;
        position: absolute;
        top: 50%;
        right: 4px;
        padding: 7px 8px;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: .3s ease-in-out;
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: #BF4640;
            color: #fff;
        }
    }
    &--icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
    }
    &--cover {
        border-radius: 50%;
        height: fit-content;
    }
    &--small {
        font-size: 16px;
        width: 28px;
        height: 28px;
    }
    &--medium {
        font-size: 24px;
        width: 40px;
        height: 40px;
    }
    &--large {
        font-size: 28px;
        width: 54px;
        height: 54px;
    }
    &:hover,
    &:focus {
        background-color: #BF4640;
        color: #fff;
    }
}